* {
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial;
    Margin: 20px;
    background-color:lightpink
}
nav ul{
    margin-left: 5%;
    font-size: 110%;
    list-style: circle;
}
  h1{
    font-size:larger
    align-content: right;
    margin-top: 20px; 
    justify-content: flex-end;
    margin-right: auto;
    font-style: italic;
    color:blueviolet;  
}
section h1{
    display:flex;
    flex-direction:column ;
    float:right;
    font-size: large;
    align-content: right;
    margin-top: 20px; 
    justify-content: flex-end;
    margin-right: auto;
    font-style: italic;
    color:blueviolet;
    margin-right: 0;
    margin-left: 800px;
    }
main{
    border-right: 0mm;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-bottom: none;

}
}
}
body{
    background: lavenderblush;
    justify-content: space-between;
}    
    

main-header{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
        font-size: larger;
        font-style: italic;
        font-weight: bolder;
        display:flex;
        
    } 
    header{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: xx-large;
        font-weight: 200;
        margin: 20px;
    }
    p{
        margin:0ch;
        align-content:flex-end;
        
    }
    
        
    
    ]
body{
    border-left: 0px;
    border-color: black;
}
.button2{
        color: rebeccapurple;
        background-color:cornflowerblue;
        border-color: aqua;
        border-right: 0pt;
        border-style:solid;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        flex: 50;
        flex-direction:column;
        display: flex;
        align-content: flex-start;
        flex: wrap;
        width: 50%;
        border-width:3px;
        margin: 20px;
        position: relative;
        align-content: center

    }
      
    
    nav a{
        display:flex;
        align-content: center;
        float:left;
    }
    
    
    section{
        display: inline-block;
        margin-left: 10px;
    }    
    
    
    
    .button{
        width: 100%;
        display:flex;
        flex:100;
        border-style: solid;
        border-color:aqua ;
        background-color:cornflowerblue;
        border-width: 3px;
        padding-top: 100px;
        padding-right: 80px;
        padding-bottom: 80px;
        padding-left: 10px;
        text-align: left;
        justify-content:left;
        float:left;
        margin: 20px;

    
    }
    .card-header{
        color: blue;
        background-color:cornflowerblue;
        padding:50px;
        text-align: left;
        float:left;
    div{
        font-family:
        
    
    }


    }
        div.id{ 

            color: darkred;
            font-size:larger
            justify-content: left;
            text align-self: start;
            float: left;
            border: none;
            flex-direction: column;
            
            }
            
        div.card-header# {
            text-align: left;



        }
        @media screen and (max-width: 768px) {
            header {
              flex-direction: column;